<%= "\<% if (!_.isString(slide) && !_.isArray(slide) && _.isObject(slide)) { %\>" %>
    <section <%= "\<%= _.map(slide.attr, function (val, attr) {return attr + '=&quot;' + val + '&quot;'}).join(' ') %\>" %> <%= "\<% if (_.isString(slide.filename)) { %\>" %>data-<%= "\<% if (slide.filename.indexOf('.html') !== -1) { %\>" %>html<%= "\<% } else { %\>" %>markdown<%= "\<% } %\>" %>="slides/<%= "\<%= slide.filename %\>" %><%= "\<% } %\>" %></section>
<%= "\<% } %\>" %><%= "\<% if (_.isString(slide)) { %\>" %>
    <section data-<%= "\<% if (slide.indexOf('.html') !== -1) { %\>" %>html<%= "\<% } else { %\>" %>markdown<%= "\<% } %\>" %>="slides/<%= "\<%= slide %\>" %>"</section>
<%= "\<% } %\>"  %>
